*{ 
	margin: 0;
	padding: 0;
}	

html{ 
	font-family: Arial;
}

body{ 
background-repeat: no-repeat;
background-size: cover;
background-color: #d1d1d1;
}

footer{ 
font-family: arial;
}

#contenedor{
	width: 80%; /*80% del área visible*/
	margin-left: 10%;
	margin-right: 10%;
	background: rgba(255,255,255,0.5);
}	

.header>img{
	width: 100%; /*100% del espacio que hay en header*/
}

h1{
text-align: center;
margin-top: 15px;
padding-bottom: 1%;
font-size: 33px;
}

h2{
text-align: center;
margin-top: 4%;
margin-bottom: 3%;
}

h3{
text-align: center;
font-size: 30px;
padding-bottom: 5%;
}

.informacion{
width: 100%;
}

.imgheader{
width: 50%;
float: left;
}

.imgdelpo img{
max-width: 51%;
height: 450px;
}

.imgdelpos{
transition-duration: 1s;
}

.imgdelpos img{
max-width: 48%;
height: 450px;
}

.imgdelpos:hover{
transform: scale(0.9);
}

.imgdelpost img{
max-width: 48%;
height: 450px;
}

.txtdelpo{
max-width: 49%;
float: right;
font-size: 21px;
background-color: #969696;
padding-left: 1%;
height: 450px;
}

.txtdelpox{
width: 90%;
font-size: 21px;
background-color: #969696;
padding: 5%;
text-align: justify;
}

.gmdelpo{
font-size: 25px;
padding-left: 30%;
text-align: left;
width: 100%;
}	

.imgheaders{
width: 50%;
float: right;
}

.delpotxt{
float: left;
width: 43%;
font-size: 20px;
background-color: #757575;
padding-top: 2%;
padding-bottom: 2%;
padding-left: 5%;
}

.delpotxts{
float: right;
width: 43%;
font-size: 20px;
background-color: #757575;
padding-top: 2%;
padding-bottom: 2%;
padding-left: 5%;
}		

.txtdp{
width: 100%;
background-color: #02abd4;
text-align: center;
font-weight: bold;
}

.txtdptxt{
font-size: 35px;
}

.clearfloat{
clear:both;
}

.copy{
margin-left: 1%;
padding-top: 1%;
font-family: Arial;
font-size: 18px;
}

.footer{
width: 80%;
clear: both;
height: 50px;
background-repeat: no-repeat;
background-size: cover;
background-color: #02abd4;
margin-left: 10%;
padding-top: 1%;
margin-right: 10%;
}

.menu{
width: 100%;
height: 60px;
background-color: #02abd4;	
}

#button {
padding: 10px;
text-align: center;
}

#button li {
display: inline;
}

#button li a {
 font-size: 38px; 
 text-decoration: none;
 padding: 55px;
 color: #000;
 }

 #button li a:hover {
background-color: #7cd6b7;
padding-top: 5px;
padding-bottom: 5px;
}	

.torneo{
margin-left: 5%;
font-size: 19px;
padding-top: 3%;
}		